*
{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

html, body
{
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
}

a
{
    text-decoration: none;
}

h1
{
    font-size: 30px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 5px;
}

header
{
    background: #dedede;
}

header .subTitle
{
    font-size: 18px;
}


header .logoWrapper
{
    float: left;
    vertical-align: middle;
    padding-right: 20px;
    margin: 20px 20px 0px 20px;
    border-right: 1px solid #3c972e;
    height: 90px;
}

header .logoWrapper img
{
    margin-top: 20px;
}

header .welcomeText
{
    display: inline-block;
    margin-bottom: 20px;
}

header nav
{
    background: #3c972e;
    padding-left: 20px;
}

header nav > a
{
    color: white;
    margin: 5px 30px;
    display: inline-block;
    line-height: 40px;
}

header nav > a:hover,
header nav > a:focus,
header nav > a:active,
header nav > a.selected
{
    border-bottom: 5px solid white;
    margin-bottom: 0px;
}

header nav > a:first-child
{
    padding-left: 0px;
}

.contentWrapper
{
    display: table;
    width: 100%;
    height: 100%;
}

.leftNavigation
{
    background: #f2f2f2;
    display: table-cell;
    width: 355px;
    padding: 10px 2%;
    height: 100%;
    vertical-align: top;
}

.leftNavigation .navTitle
{
    font-size: 22px;
    font-weight: 700;
}

.leftNavigation .sectionTitle
{
    font-size: 16px;
    font-weight: 700;
    margin-left: 10px;
}

.leftNavigation a
{
    font-size: 14px;
    color: black;
    line-height: 25px;
    display: block;
    margin-left: 20px;
}

.leftNavigation a:hover,
.leftNavigation a:focus,
.leftNavigation a:active,
.leftNavigation a.selected
{
    color: #3c972e;
    font-weight: 700;
}

.content
{
    display: table-cell;
    padding: 10px 2%;
    width: auto;
    vertical-align: top;
}

.content pre
{
    background-color: #d3e7d0;
}

.content code
{
    background-color: #d3e7d0;
    padding: .2em .4em;
    border-radius: 3px;
}

.content table
{
    padding: 0;
}

.content table tr
{
    border-top: 1px solid #cccccc;
    background-color: white;
    margin: 0;
    padding: 0;
}

.content table tr:nth-child(2n)
{
    background-color: #f8f8f8;
}

.content table tr th
{
    font-weight: bold;
    border: 1px solid #cccccc;
    text-align: left;
    margin: 0;
    padding: 6px 13px;
}

.content table tr td
{
    border: 1px solid #cccccc;
    text-align: left;
    margin: 0;
    padding: 6px 13px;
}

.content table tr th :first-child,
.content table tr td :first-child
{
    margin-top: 0;
}

.content table tr th :last-child,
.content table tr td :last-child
{
    margin-bottom: 0;
}

iframe
{
    width: 100%;
    height: 100%;
    border: none;
}
