*
{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

html, body
{
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
}

body
{
    background: #111111;
}

h1
{
    font-size: 2rem;
}

h2
{
    font-size: 1.5rem;
    padding-top: 10px;
}

h3, h4
{
    font-size: 1rem;
    padding-top: 6px;
}

.widthLimiter
{
    max-width: 1000px;
}

a
{
    text-decoration: none;
}

.btn.radial-fill {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
  background: #e1e1e1;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  z-index: 100;
}

.btn.radial-fill:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2098D1;
  border-radius: 46px;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.btn.radial-fill:hover:before {
  webkit-transform: scale(2);
  transform: scale(2);
}

header
{
    background: #dedede;
}

header .title
{
    font-size: 30px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 5px;
    display: block;
}

header .subTitle
{
    font-size: 18px;
}


header .logoWrapper
{
    float: left;
    vertical-align: middle;
    padding-right: 20px;
    margin: 20px 20px 0px 20px;
    border-right: 1px solid #3c972e;
    height: 90px;
}

header .logoWrapper img
{
    margin-top: 20px;
}

header .welcomeText
{
    display: inline-block;
    padding: 0px 20px;
    margin-bottom: 20px;
    max-width: 750px;
}

header nav
{
    background: #3c972e;
    padding-left: 20px;
}

header nav > a
{
    color: white;
    margin: 5px 30px;
    display: inline-block;
    line-height: 40px;
}

header nav > a:hover,
header nav > a:focus,
header nav > a:active,
header nav > a.selected
{
    border-bottom: 5px solid white;
    margin-bottom: 0px;
}

header nav > a:first-child
{
    padding-left: 0px;
}

.contentWrapper
{
    display: table;
    width: 100%;
    height: 100%;
}

.leftNavigation
{
    background: #f2f2f2;
    display: table-cell;
    width: 300px;
    padding: 10px 2%;
    height: 100%;
    vertical-align: top;
}

.leftNavigation .navTitle
{
    font-size: 1rem;
    font-weight: 700;
}

.leftNavigation .sectionTitle
{
    font-size: 14px;
    font-weight: 700;
    margin-left: 10px;
    line-height: 25px;
}

.leftNavigation a
{
    font-size: 14px;
    color: black;
    line-height: 25px;
    display: block;
    margin-left: 20px;
}

.leftNavigation a:hover,
.leftNavigation a:focus,
.leftNavigation a:active,
.leftNavigation a.selected
{
    color: #3c972e;
    font-weight: 700;
}

.contentWrapper
{
    background: white;
}

.content
{
    display: table-cell;
    padding: 10px 2%;
    width: auto;
    vertical-align: top;
    background: white;
}

.content code
{
    background-color: #d3e7d0;
    padding: .2em .4em;
    border-radius: 3px;
    display: inline-block;
}

.content table
{
    padding: 0;
}

.content table tr
{
    border-top: 1px solid #cccccc;
    background-color: white;
    margin: 0;
    padding: 0;
}

.content table tr:nth-child(2n)
{
    background-color: #f8f8f8;
}

.content table tr th
{
    font-weight: bold;
    border: 1px solid #cccccc;
    text-align: left;
    margin: 0;
    padding: 6px 13px;
}

.content table tr td
{
    border: 1px solid #cccccc;
    text-align: left;
    margin: 0;
    padding: 6px 13px;
}

.content table tr th :first-child,
.content table tr td :first-child
{
    margin-top: 0;
}

.content table tr th :last-child,
.content table tr td :last-child
{
    margin-bottom: 0;
}

iframe
{
    width: 100%;
    height: 100%;
    border: none;
}

footer
{
    padding: 20px;
    background: #111111;
    height: 146px;
    text-align: center;
    color: #f7fafa;
    vertical-align: middle;
    font-size: 14px;
    line-height: 20px;
}

footer a
{
    color: #f7fafa;
}

footer .widthLimiter
{
    position: relative;
    margin: 0 auto;
}

footer .links
{
    display: inline-block;
    margin-top: 15px;
}

footer .links a
{
    padding: 0px 20px;
}


.cookiesPolicy
{
    display: block;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: 20px 20px 0px 20px;
    background-color: #111111;
    color: white;
    z-index: 100;
}

.cookiesPolicy .row
{
    margin: 0 auto;
}

.cookiesPolicy .buttons
{
    padding-top: 30px;
}

.cookiesPolicy .title
{
    opacity: 1;
    transform: none;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    text-align: left;
    margin-bottom: 0px;
}

.cookiesPolicy .subTitle
{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-align: left;
}

.cookiesPolicy .btn
{
    height: 44px;
    border-radius: 40px;
    background: transparent;
    padding: 8px 40px;
    border: 2px solid #43a833;
    cursor: pointer;
}

.cookiesPolicy .btn.radial-fill:before
{
    background: #43a833;
}

@media only screen and (max-width: 960px){
    .cookiesPolicy .buttons
    {
        padding-top: 0px;
    }    
    .cookiesPolicy .btn
    {
        display: block;
        margin-top: 10px;
        width: auto;
    }
}