---
layout: api_doc
title: API Documentation
---
{{ content }}
<h2>Ixian Core Generic API Commands</h2>
{% assign core_api_docs = site.api_docs | where: 'type', 'core' %}
{% for api_doc in core_api_docs %}
    <a href="{{ api_doc.url }}">{{ api_doc.title }}</a><br/>
{% endfor %}
<br/>
<h2>Ixian DLT Specific API Commands</h2>
{% assign dlt_api_docs = site.api_docs | where: 'type', 'dlt' %}
{% for api_doc in dlt_api_docs %}
    <a href="{{ api_doc.url }}">{{ api_doc.title }}</a><br/>
{% endfor %}
