<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
    </head>
    <body>
        <header>
            <div class="logoWrapper">
                <img src="/assets/images/ixianFullLogo.png" alt="Ixian Full Logo" class="ixianFullLogo"/>
            </div>
            <div class="welcomeText">
                <h1>Welcome to Ixian documentation pages</h1>
                <span class="subTitle">Here you will find all relevant information and documentation regarding Project Ixian.<br/>
                    Learn more about Ixian and how to get started quickly!</span>
            </div>
            {% include navigation.html %}
        </header>
        {{ content }}
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet"/>
    </body>
</html>
